<head>
	<link rel="stylesheet" type="text/css" href="slick/slick.css"/>
	<link rel="stylesheet" type="text/css" href="slick/slick-theme.css"/>
</head>

<body>
	<div class="row">
		<div class="one-time">
			<% @user.photos.each do |photo| %>

			<div class="box">
				<div class="panel panel-default">
					<%= link_to image_tag(photo.image.url(:medium)), photo %>
					<div class="panel-body center">
			    		<%= photo.description %><br/>
		  		</div>
				</div>
			</div>
			
			<% end %>
		</div>
		<br/>

    <div class="input-group">
      <input type="text" class="form-control" placeholder="Type message to book...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Book!</button>
      </span>
    </div>
	</div>

</body>