<div class="jumbotron">
  <h1>Welcome to Aurora!</h1>
  <p>papapa here</p>

  <%= link_to "Login", root_path, class: "btn btn-default" %>
  <%= link_to "Sign Up", root_path, class: "btn btn-primary" %>
  
</div>
