<div id="photos" class="transitions-enabled">
	<% @photos.each do |photo| %>

	<div class="box">
		<div class="panel panel-default">
  		<%= link_to image_tag(photo.image.url()), photo %><br/>
			<div class="panel-body">
	    		<strong>Photographer:</strong>
	    		<%= photo.user.email %><br/>
    		</div>
  		</div>
	</div>
	
	<% end %>
</div>
<br>